.message_box {
  border: var(--border);
  border: 0.05rem solid light-dark(black, white);
  background-color: var(--background);
  width: 36rem;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem 1.2rem 2rem;
  border-radius: 0.4rem;
  row-gap: 1.6rem;
  height: max-content;
}

.message {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-wrap: pretty;
}
