.confirmation_box {
  border: var(--border);
  border: 0.05rem solid light-dark(black, white);
  background-color: var(--background);
  width: 36rem;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.6rem 2.4rem 2.46rem;
  border-radius: 0.4rem;
  row-gap: 2.4rem;
  height: max-content;
}

.message {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-wrap: pretty;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
  width: 100%;
}
