.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.offscreen {
  position: absolute;
  top: 100vh;
  width: 0;
  height: 0;
}
