.button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  height: 6.4rem;
  width: 4.8rem;
  padding: 0.2rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  text-align: center;
  text-wrap: pretty;
  user-select: none;
  font-size: 3.6rem;
  border-radius: 0.8rem;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0);
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  transform: translateZ(0); /* Helps Mobile */
  will-change: transform;
}

.button:hover {
  transition: all 0.15s;
}

.default {
  min-width: 16rem;
}

.full {
  width: 100%;
  max-width: 100%;
}

.button:focus-visible {
  outline: 0.1rem solid var(--focus-color);
  outline-offset: 0.2rem;
}

.button.active {
  transition: all 0.2s !important;
  transform: translateY(0.04rem) scale(0.99) translateZ(0); /* Helps Mobile */
  will-change: transform;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: light-dark(rgb(230, 230, 230), rgb(100, 100, 100));
}

.button {
  background-color: light-dark(white, rgb(60, 60, 60));
  border: 0.1rem solid light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
  color: light-dark(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.9));
}

.button:hover {
  color: light-dark(black, rgba(255, 255, 255));
}

.text_container {
  width: 100%;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon_container > * {
  height: 75%;
  object-fit: cover;
  object-position: center center;
}

.disabled {
  background-color: transparent;
  cursor: auto;
  color: rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
  border-width: 0rem;
  border-top-width: 0.05rem;
  font-weight: 100;
  opacity: 0.6;
}

.disabled:hover {
  background-color: transparent;
  color: rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
  filter: brightness(1);
}

@media (hover: hover) {
  .button:hover {
    background-color: light-dark(rgb(240, 240, 240), rgb(90, 90, 90));
  }
}
